<p [ngClass]="style">Cool phrase</p>
<button (click)="action()">Change state</button>

<h1 [ngStyle]="{'background':corFundo, 'color':corFonte}"
>
 Angular Course</h1>

<h1>Wishlist</h1>
<input type="text" [(ngModel)]="item">
<button (click)="addToList(item)">Add to cart</button>
<p>{{ item }}</p>

<ul>
  <li *ngFor="let p of productList">{{ p }}</li>
</ul>

<hr>
<ng-template [ngIf]="isEnable">
  <a href="#">Add to cart</a>
</ng-template>

<ng-template [ngIf]="isEnable">
  <a href="#">Finish cart</a>
</ng-template>
<hr>

<!-- From app.component.html -->
<ng-content select="h2"></ng-content>
<ng-content select="p"></ng-content>
